{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{user_data.login}}'s {{text.profile}}</div>
                <div class="panel-body">
                    {% if user_data.avatar != "default.jpg"%}
                        <img src="/uploads/users/{{user_data.id}}/{{ user_data.avatar }}"
                             class="img-fluid img-thumbnail" alt="">
                    {% else %}
                        <img src="/uploads/users/default.jpg"
                             class="img-fluid img-thumbnail" alt="">
                    {% endif %}
                    <div class="form-group">{{text.name}}:
                        {{user_data.name}}
                    </div>
                    <div class="form-group">{{text.lastname}}:
                        {{user_data.lastname}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
