{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{text.change_info}}</div>
				<div class="container">
				<div class="panel-body">
					<form action="{{ path_for('user.accountphoto') }}" method="post" enctype="multipart/form-data">
						<p>{{text.your_photo}}</p>
						<input type="file" name="image">
						<br/><br/>
						<button type="submit" class="btn btn-default">{{text.change}}</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
