{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{text.change_email}}</div>
				<div class="panel-body">
					<form action="{{ path_for('user.mail') }}" method="post">
						<div class="form-group {{ errors.email_old ? ' has-error' : ''}}">
							<label for="email_old">{{text.current_email}}</label>
							<input type="text" name="email_old" id="email_old"
								class="form-control">
						</div>
						{% if errors.email_old %}
							<span class="help-block">{{ errors.email_old}}</span>
						{% endif %}
						<div class="form-group {{ errors.email_new ? ' has-error' : ''}}">
							<label for="email_new">{{text.new_email}}</label>
							<input type="text" name="email_new" id="email_new"
								class="form-control">
						</div>
						{% if errors.email_new %}
							<span class="help-block">{{ errors.email_new }}</span>
						{% endif %}
						<button type="submit" class="btn btn-default">
							{{text.change}}
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
