{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{ text.sign_in }}</div>
				<div class="panel-body">
					<form action="{{ path_for('user.signin')}}" method="post">
						<div class="form-group{{ errors.email ? ' has-error' : ''}}">
							<label for="email">Email</label>
							<input type="email" name="email" id="email"
								   placeholder="you@mail.com" class="form-control" value="{{ old.email }}">
						</div>
						{% if errors.email %}
							<span class="help-block">{{ errors.email | first }}</span>
						{% endif %}
						<div class="form-group {{ errors.password ? ' has-error' : ''}}">
							<label for="password">{{ text.password }}</label>
							<input type="password" name="password" id="password"
								   class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block">{{ errors.password | first }}</span>
						{% endif %}
						<div class="g-recaptcha" data-sitekey="6LdFjW8UAAAAAM_kEXXn4ib22gzXU_B7wRCHDxp4"></div>
						<button type="submit" name="submit" class="btn btn-default">
							{{ text.sign_in }}
						</button>
						<button type="submit" name="forgot" class="btn btn-default">
							{{ text.forgot_password }}
						</button>
						{{ csrf.field | raw }}
					</form>
					<a href="/social/facebook" class="btn btn-default">Facebook</a>
					<a href="/social/intra" class="btn btn-default">Intra</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
