{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{ text.sign_up }}</div>
				<div class="panel-body">
					<form action="{{ path_for('user.signup')}}" method="post">
						<div class="form-group{{ errors.email ? ' has-error' : ''}}">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" required
								   placeholder="you@mail.com" class="form-control" value="{{ old.email }}">
						</div>
						{% if errors.email %}
							<span class="help-block">{{ errors.email }}</span>
						{% endif %}
						<div class="form-group {{ errors.login ? ' has-error' : ''}}">
							<label for="login">{{ text.login }}</label>
							<input type="text" name="login" id="login" required
								   class="form-control" value="{{ old.login }}">
						</div>
						{% if errors.login %}
							<span class="help-block">{{ errors.login }}</span>
						{% endif %}
						<div class="form-group {{ errors.password ? ' has-error' : ''}}">
							<label for="password">{{ text.password }}</label>
							<input type="password" name="password" id="password"
								   class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block">{{ errors.password }}</span>
						{% endif %}
						<button type="submit" class="btn btn-default">
							{{ text.sign_up }}
						</button>
						{{ csrf.field | raw }}
					</form>
					<a href="/social/facebook" class="btn btn-default">Facebook</a>
					<a href="/social/intra" class="btn btn-default">Intra</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
