{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 movie_block_post">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie_block_2_post">
				<img src="{{ movie.poster }}" class="film_photo img-fluid" alt="">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4 id="name_film">{{movie.title}}</h4>
				<p>
					<span class="span_class">{{text.rating}}: </span>
					<a target="_blank" href="https://www.imdb.com/title/{{movie.id}}">{{movie.rating}}</a>
				</p>

				<p>
					<span class="span_class">{{text.year}}: </span>
					{{movie.year}}
				</p>

				<p>
					<span class="span_class">{{text.genres}}: </span>
					{{movie.genres}}
				</p>

				<p>
					<span class="span_class">{{text.language}}: </span>
					{{movie.language}}
				</p>

				<p style="width: 100%;max-height: 200px;overflow: hidden;">
					<span class="span_class">
						{{ text.short_description }}:
					</span>
					{{movie.synopsis}}
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 quality_block">
			<span class="span_h4">{{ text.choose_quality }}: </span>
			<button class="btn btn-default set_quality">720</button>
			<button class="btn btn-default set_quality">1080</button>
			<a href="/trailers/{{movie.id}}" class="btn btn-default">{{ text.trailers }}</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 film_block">
			<video id="video_block" class="opacity" poster="{{ movie.background }}" controls>
				<source id="mp4_src" type="video/mp4">
				<track src="" id="sub_en" label="English" kind="captions" type="text/vtt" srclang="en-us" default>
				<track src="" id="sub_ru" label="Russian" kind="captions" type="text/vtt" srclang="ru-ru" default>
			</video>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 quality_block">
		<section class="comment_section">
			<div class="col-lg-4">
				<div class="login-form">
					{% for comment in comments %}
					<p>
						{{ comment.user_id }} said: {{ comment.comment }}
					</p>
					{% endfor %}
					<form action="{{ path_for('find.next', {movie: movie.id}) }}" method="post">
						<p>{{ text.add_comment }}:</p>
						<input type="text" name="comment" placeholder="" value="">
						<br><br>
						<input type="submit" name="submit" class="btn btn-default" value="{{ text.submit }}">
					</form>
				</div>
			</div>
		</section>
		</div>
	</div>
	<script type="text/javascript">
		var id_dd = "{{movie.id}}";
	</script>
	<script src="{{ base_url() }}/js/main.js"></script>
{% endblock %}
