{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <a href="{{path_for('find.next', {movie: id}) }}" class="btn btn-default">{{text.back_movie}}</a>
        <div class="col">
            <h1 class="title text-center">{{text.trailers}}</h1>
            {% for video in videos %}
                <iframe width="800" height="600"
                        src="https://youtube.com/embed/{{ video }}">
                </iframe>
            {% endfor %}
        </div>

    </div>
{% endblock %}
